.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #444954;
  color: #fff;
}

.App div {
  text-align: center;
}

.temperature {
  font-size: 50px;
}

.city-name {
  font-size: 24px;
}

.weather-description {
  font-size: 24px;
}

.dateTime {
  font-size: 20px;
  margin: 1rem 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 2rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}


.CelsiusText {
  font-weight: normal;
  font-size: 1.1em;
  position: relative;
  left: 10%;
  top: 15%;
}

.FahrenheitText {
  font-weight: normal;
  font-size: 1.1em;
  position: relative;
  left: 60%;
  top: 15%;
}

.slider.round:before {
  border-radius: 50%;
}

.hidden {
  visibility: hidden;
}

.loading {
  position: absolute;
  background-image: url('./assets/loadingIcon.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 100%;
}